body {
    background-color: #191C21;
    color: whitesmoke;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fade-in {
    animation: fadeIn ease 1s;
}
@keyframes fadeIn {
    from { opacity: 0;}
    to { opacity: 1;}
}

#about_me_section { 
    font-size: 20px;
}